# Google Sheet export URLs
SHEET_CATEGORIES_URL=https://docs.google.com/spreadsheets/d/1lgecJfYh1gssyk10QfsvkWPYdWBF228Yz9eGavhGjNM/gviz/tq?tqx=out:csv&sheet=Categories
SHEET_ITEMS_URL=https://docs.google.com/spreadsheets/d/1lgecJfYh1gssyk10QfsvkWPYdWBF228Yz9eGavhGjNM/gviz/tq?tqx=out:csv&sheet=MenuItems

# Site Metadata
SITE_URL=https://evolis-work.github.io
REPO_NAME=/toi-caphe-menu/

# Optional SEO structured data fields
PUBLIC_BUSINESS_TELEPHONE=+84848882852
PUBLIC_BUSINESS_POSTAL_CODE=97600
PUBLIC_BUSINESS_PRICE_RANGE=$
